<div class="d-flex justify-content-between bg-dark p-2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTiWqXjXM8btA8-bj61GpJ-OyOyVR8bsG9tQXWncCtGEPdHTbJPaU-ZELCsc5um403S7I&usqp=CAU" class="rounded float-start" width="50" height="auto ">
        <div>
           <button class="btn btn-primary" [routerLink]="['/']" routerLinkActive="router-link-active" >Lista usuario</button>
           <button class="btn btn-primary m-2" [routerLink]="['/detail']" routerLinkActive="router-link-active"  >Detalle usuario</button>
        </div>
</div>

